@model GetProductByIdResult
@{
    ViewData["Title"] = "GetById";
}

<h1>GetById</h1>
<br />
<div class="container">
    <span>Ürün Id</span>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br />
    <span>Ürün Ad</span>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <span>Stok</span>
    <input type="text" class="form-control" asp-for="Stock" />
    <br />
</div>

