@model CreateProductCommand
@{
    ViewData["Title"] = "AddProduct";
}

<h1>Yeni Ürün Ekle</h1>
<br />
<form method="post">
    <span>Ürün Adı</span>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <span>Stok</span>
    <input type="text" asp-for="Stock" class="form-control" />
    <br />
    <span>Fiyat</span>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <span>Açıklama</span>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <input type="submit" value="Yeni Ürün Ekle" class="btn btn-success form-control" />
    <br />
</form>

